<html>
    <head>
        <meta name="viewport" contnet="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="root"></div>
        <script src="<%= process.env.HOST_URL %>/static/index.js"></script> 
    </body>
</html>